Jinja2
MarkupSafe
Pygments
backports.ssl-match-hostname
certifi
gnureadline
ipython==4.1.0
jsonschema
matplotlib
mistune
mock
nose
numpy
ptyprocess
pyparsing
python-dateutil
pytz
pyzmq
six
terminado
tornado
tensorflow
scikit-learn
keras
torch
torchvision
pandas
seaborn
scipy
